html {
	box-sizing: border-box;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
/* RESET ABOVE */


#wrapper{
	display: flex;
	flex-direction: row;
	height: 100%;
}

#left{
	display: flex;
	flex-direction: column;
	width:700px;

}
#input_canvas_area{
	width: 100%;
	height: 500px;

}

#controls_area{
	flex: 1;
}

#right{
	flex:1;
	overflow-y:scroll;
}

.colour_square{
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid black;
}
.list_item{
	list-style-type: none;
	font-family: "Lucida Console", Monaco, monospace;
}

.active_highlight{
	border: 2px solid red;
}